[project]
name = "ty-sqlalchemy-issue"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "sqlalchemy>=2.0.44",
]

[dependency-groups]
dev = [
    "ty>=0.0.1a27",
]
